.progressContainer{
height :10px;
width: 40vw;
background-color: gainsboro;
border-radius: 50px;
margin-top: 50px;
position: relative;
left:10vw
}

.innerContainer{
  height: 100%;
  border-radius: 50px;
}

.details{
  color: black;
  position: absolute;
  right: 0;
  top:-22px;
  font-family: 'Brush Script MT', cursive;
}

.formContainer{
  width: 300px;
  min-width: 300px;
  height: 100vh;
  background-color: rgb(238, 235, 235);
  position: absolute;
  right: 0;
  top:0;
  z-index: 1;
}

input{
  font-size: 16px;
  width:230px;
  padding: 6px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 25px;
  margin-bottom: 0;
  font-family: 'Brush Script MT', cursive;
}

button{
  width: 250px;
  height: 30px;
  margin: 25px;
  color: dodgerblue;
  border: 2px solid #2196F3;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Brush Script MT', cursive;
}

button:hover{
  background-color: rgb(44, 44, 236);
  color: white;
}

button:disabled{
  background-color:grey;
  color: black;
  border: 0;
}