.progreddContainer{
height :20px;
width: 500px;
background-color: gainsboro;
border-radius: 50px;
margin-top: 50px;
margin-left: 100px;
}

.innerContainer{
  height: 100%;
  border-radius: 50px;
  text-align: right;
}

.percentage{
  margin: 10px;
  color: white;
  font-weight: bold;
}

.myRoot{
  width: 300px;
  height: 100vh;
  background-color: gainsboro;
  position: absolute;
  right: 0;
  top:0
}


.addP{
  border-radius: 20px;
  font-family: 'Brush Script MT', cursive;
  width: 250px;
  margin-left: 20px;
  margin-top: 30px;
}

label{
  font-family: 'Brush Script MT', cursive;
  margin-right: 10px;
  margin-top: 40px;
  margin-left: 20px;
}

/* :root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;

} */

input{
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}